<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	</head>

<body>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Play</a></li>
  <li role="presentation" class="active"><a href="/scores">Scores</a></li>
  <li role="presentation"><a href="/rules">Rules</a></li>
  <div id="title">W O R D S M I T H . E S</div>
  <div id='contact'>info@wordsmith.es</div>
</ul>


<div class="all_time" id="one_player">
	<div class="scoreboard_heading">Single Player</div>
	<ul class="list-group">
		{{#each score}}
	  <li class="list-group-item">
	  <div id="place"> {{@index}} &nbsp </div>
	  <div class="wordOrName">{{ player_name }}</div>
	  	   <div class="number">{{ score }}</div></li>
	  	{{/each}}
	</ul>
</div>

<div class="all_time" id="multiplayer">
	<div class="scoreboard_heading">Multiplayer</div>
	<ul class="list-group">
		{{#each mult_score}}
	  <li class="list-group-item">
	  <div id="place"> {{@index}} &nbsp </div>
	  <div class="wordOrName">{{ username }}</div>
	  	   <div class="number">{{ wins }}</div></li>
	  	{{/each}}
	</ul>
</div>


</body>

<script>

	var name = sessionStorage.getItem("username");
	if (name == 'Unnamed Player') {
		name = null;
	};

	var list = document.getElementsByClassName('wordorname');

	for (var i=0; i<list.length; i++) {
		if (list[i].innerHTML == name) {
			list[i].style.color = 'Gold'
		}
	}

</script>
</html>
